body {
  font-family: Arial;
  background-image: url("./img/rio.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  color: #333;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.complete {
  background: #5cb85c;
}

.remove {
  background: #d953af;
}

//Estilização do componente todo-form
.todo-form {
  padding-bottom: 3rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.filter,
.search {
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.search .topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

//botao modo dark-light
.toggle-switch {
  right: 0%;
  display: flex;
  justify-content: center;
  height: 100%;
  min-width: 60%;
  border-radius: 6px;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: #333974;
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-switch .switch:hover {
  opacity: 1;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: #efefef;
}

body.dark .switch::before {
  left: 20px;
}

.dark {
  color: #c8c3bc;
}

.dark .app {
  background-color: #212425;
}

.dark .todo {
  background-color: #181a1b;
}

@media (max-width: 600px) {
  .todo-list {
    display: grid;
  }
  .filter-options {
    display: grid;
    gap: 1rem;
  }
}
